@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.section {
  @apply max-w-screen-xl mx-auto px-5;
}

.shadow- {
  box-shadow: 1px 1px black;
}
.shadow-:hover {
  @apply transition-all duration-300;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
